html{
    border: 2px solid red;
}

h1{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

header{
    background-image: url("images/pattern.jpeg");
}

h3{
    font-family: "Helvetica";
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes-heading{
    background-color: mediumspringgreen;
}

.cost{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.frames-heading{
    background-color: lightcoral;
}

.paint-heading{
    background-color: skyblue;
}


h4{
    font-weight: bold;
}